{% extends 'base.html' %} {% block title %}
<title>部屋削除</title>
{% endblock %}{% block nav_buttons %}
    <li><a href="{{ url_for('index')}}" class="button">ホームへ戻る</a></li>
    <li><a href="{{ url_for('signout')}}" class="button">サインアウト</a></li>
{% endblock nav_buttons %}{% block body %}
<main>
  <div id="delete-channel-modal" class="modal">
    <div class="modal-header">
        <h2>Delete channel</h2>
    </div>
    <div class="modal-body">
      {% if error_message %}
          <p style="color: red;">{{ error_message }}</p>
      {% endif %}
      <p>削除ボタンを押すとチャンネルが消えます</p>
      <p>本当によろしいですか？</p>
      <form action="{{ url_for('deleteChannel', channel_id=channel.id) }}" method="post">
        <button id="delete-channel-confirmation-button" type="submit">削除</button>
      </form>
    </div>
  </div>
</main>
{% endblock body %}





