{% extends 'registration/base.html' %} 
{% block title %}login{% endblock %} 
{% block body %}
<div class="registration-wrapper">
    <div  class="registration-container">
        <img
        src="{{ url_for('static',filename='img/registration.png')}}"
        class="registration-main-pic"
        />
        <div class="registration-form-wrapper">
            {#ログインフォーム#}
            <form class="registration-form" action="{{ url_for('login') }}" method="post">
                <h1>一習慣</h1>
                <h2>
                    仲間とつながり習慣をそだてる
                    気になる部屋に遊びに行こう！
                </h2>
                <div>
                    {# フラッシュ表示（登録完了） #}
                    <div class="">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <label for="emai-input">メールアドレス</label>
                    <input
                        type="email"
                        placeholder="sample@email.com"
                        name="email"
                        id="emai-input"
                    />
                </div>
                <div>
                    <label for="password-input">パスワード</label>
                    <input 
                        type="password"
                        placeholder="パスワードを入力してください"
                        name="password"
                        id="password-input"
                    />
                    {# エラーメッセージの表示１１ パスワード間違い #}
                    {% if error_message11 %}
                        <p style="color: red;">{{ error_message11 }}</p>
                    {% endif %}
                </div>
                <div class="registration-button-container">
                    <button type="submit" class="registration-button">ログイン</button>
                    {# エラーメッセージの表示９ 空の入力フォーム #}
                    {% if error_message9 %}
                        <p style="color: red;">{{ error_message9 }}</p>
                    {% endif %}
                    {# エラーメッセージの表示１０ 空の入力フォーム #}
                    {% if error_message10  %}
                        <p style="color: red;">{{ error_message10 }}</p>
                    {% endif %}
                </div>
                <p>アカウントをお持ちでない方は、会員登録</p>
                <button class="registration-button">
                    <a href="{{ url_for('signup') }}" style="text-decoration:none;color:black;">
                        会員登録
                    </a>
                </button>
            </form>
        </div>
    </div>
</div>"
{% endblock %}