{% extends 'base.html' %} {% block nav_buttons %}
    <li class="button__text-center"><a href="{{ url_for('index') }}" class="azuki-button">ホームへ戻る</a></li>
    <li class="button__text-center"><a href="{{ url_for('channelAddIndex') }}" class="azuki-button">部屋を作る</a></li>
    <li class="button__text-center"><a href="{{ url_for('signout') }}" class="azuki-button">サインアウト</a></li>
{% endblock %}{% block body %}
<main>
    <!-- 変数が表示できるかテスト -->
    <p>{{ channel.description }}</p>
    <p>{{ channel.id }}</p>

    <!-- メッセージの投稿者による条件分岐・名前と時刻をセットで表示-->
    {% for message in messages %}
        {% if message.user_id == user_id %}
            <p>{{ message.name }}</p>
            <p class="message—mine">{{ message.content }}</p>
            <p>{{ message.created_at }}</p>
            <!-- メッセージ投稿時刻のフォーマット変更 -->
            {% with timestamp = message.created_at.strftime('%m月%d日 %H:%M') %}
            <p>{{ timestamp }}</p>
            {% endwith %}
        {% else %}
            <p>{{ message.name }}</p>       
            <p class="message—others">{{ message.content }}</p> 
            <p>{{ message.created_at }}</p>
            <!-- メッセージ投稿時刻のフォーマット変更 -->
            {% with timestamp = message.created_at.strftime('%m月%d日 %H:%M') %}
            <p>{{ timestamp }}</p>
            {% endwith %}
        {% endif %}
    {% endfor %}

    <form action="{{ url_for('messageAdd')}}" method="post">
        <input type="hidden" name="channel_id" value="{{ channel.id }}">
        <textarea name="content"></textarea>
        <button>送信</button>
    </form>
    
</main>
{% endblock body %}