{% extends 'base.html' %}  

{% block nav_buttons %}
    <a href="{{ url_for('channel_add')}}" class="button">部屋を作る</a></li>
    <a href="{{ url_for('signout')}}" class="button">サインアウト</a></li>
{% endblock %}

{% block body %}
{# フラッシュ表示 #}
<div class="">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{# チャンネルリスト #}
<div class="">
    <h2>習慣部屋一覧</h2>
    <ul class="channel-list">
        <!--class="channel-listにlist-style: none;padding-left:0を記述"-->
        {% for channel in channels %}
            <li>
                <strong>{{ channel.name }}</strong>: {{ channel.description }}
                <form action="{{ url_for('channel', channel_id=channel.id) }}" method="get" style="display:inline;">
                    <button type="submit">削除画面へ</button>
                </form>
                <form action="{{ url_for('messageIndex', channel_id=channel.id) }}" method="get" style="display:inline;">
                    <button type="submit">部屋画面へ</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}