/* ------------ 共通部分 ---------------- */

/* 中央配置 */
.edit-channel-main-wrapper {
    display: flex;
    justify-content: center;
  }

/* セクションと画像のコンテナ */
.edit-channel-container {
    display: flex; 
    margin: 10%;
    max-width: 80%;
    gap: 3rem;
  }

.edit-channel-column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }   

.edit-channel-img {
    height: 560px;
    width: 380px;
  }   


.edit-channel__alert {
    font-size: 20px;
  }

.edit-channel__danger {
  font-size: 20px;
  color: var(--error_red);

}

  
.edit-channel-button {
    margin-left: auto;
    margin-top: 2rem;
}

/* ---- 部屋追加画面 ---- */

.add-channel-form{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

.input-suffix-wrapper {
    display: flex;
    align-items: center;
  }

.add-channel-form__input--top {
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    width: 17.5em;
    max-width: 100%;
  }

.add-channel-form__suffix {
    font-size: 24px;
    margin-left: 0.7rem;
  }

.add-channel-form__input--bottom {
    border-radius: .5rem;
    padding: 1.5rem 1rem;
}



/* ---- 部屋削除画面 ---- */

.delete-channel-display-wrapper {
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  min-height: 160px;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-channel-display {
  border: 1.5px solid var(--gray);
  border-radius: 10px;
  min-height: 88px;
  min-width: 540px;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
}

