/* ------------ 共通部分 ---------------- */

/* 中央配置 */
.edit-channel-main-wrapper {
    display: flex;
    justify-content: center;
  }

/* セクションと画像のコンテナ */
.edit-channel-container {
    display: flex; 
    margin: 10%;
    max-width: 80%;
    gap: 3rem;
  }

.edit-channel-column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }   

.edit-channel-img {
    height: 560px;
    width: 380px;
  }   


.edit-channel-text__alert {
    font-size: 20px;
  }

.edit-channel-button {
    margin-left: auto;
    margin-top: 2rem;
}

