/*registration.css*/
.registration-wrapper {
  background-color: var(--base);
  width: 100vw;
}

.registration-container {
  display: flex;
  flex-direction: row-reverse;
}

.registration-main-pic {
  background-repeat: no-repeat;
  background-size: cover;
  width: 33vw;
  height: 100vh;
  background-attachment: fixed;
}

.registration-form-wrapper {
  width: 67vw;
  height: 100vh;
}

/*ログイン画面のみ*/
.registration-form-login {
  text-align: center;
}

/*新規登録画面のみ*/
.registration-form-signup {
  text-align: center;
}

.registration-title {
  padding: 15% 10% 10% 10%;
  font-size: 36px;
  color: var(--dark_green);
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 30%;
}

.title-message {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.registration-flash-container {
  display: flex;
  justify-content: center;
}

.registration-flash {
  text-align: center;
}

.registration-form-item {
  width: 18em;
  height: 75px;
  margin: 0 auto;
}

.registration-form-name {
  text-align: left;
}

.size-input-form {
  width: 16.3em;
}

.registration-button-container {
  height: 11.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.registration-button-login-container {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.registration-button {
  display: inline-block;
  border: none;
  font-size: 1.2rem;
  background-color: var(--dark_green);
  color: var(--black);
  padding: 0.75rem;
  width: 165px;
  border-radius: 30px;
}

.registration-button:hover {
  background-color: var(--pale_green);
  transition: 0.5s;
}